body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #373A40;
    color: white;
}
#container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 600px;
}
#container > #green-box1{
    background-color: #1B7339;
}
#container > #white-box{
    background-color: white;
}
#container > #green-box2{
    background-color: #1B7339;
}
